header{
/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: left;
align-items: center;
padding: 10px;
gap: 170px;
width: 1440px;
height: 195px;
background: #171D25;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
color:white;
font-style:impact;
}



.logo{
   justify-content: left;

}
.news{



}






}
.Game{
    align-items: center;
    display: flex;
    justify-content: center;


}
.nav-btn{
    
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 5px 20px;
gap: 10px;

position: relative;
width: 99px;
height: 34px;

background: #0056B9;
border-radius: 10px;

}
main{
    /* Desktop page */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 10px;
color:white;

position: absolute;
width: 1440px;
height: 1844px;

background: #1B2939;

}

  .updates{
    width:600px;
    
}

.img-news{
    width:600px;
}

.blue-image{
    height:35px;
    width:1000px;

}



